<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="Connection" connectionString="Data Source=vovashop.database.windows.net;Initial Catalog=VovaShop;Persist Security Info=True;User ID=Konofw26;Password=0ex6b2948R=" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>